.top-bar {
  background-color: $main;
  // .top-bar__row
  &__row {
    @include flexbox();
    justify-content: space-between;
    padding: 6px 0 6px;
    @media screen and (max-width: 991px) {
       padding: 5px 0 5px;
    }
  }
  // .top-bar__social
  &__social {
    @include flexbox();
    counter-reset: $white;
  }
  // .top-bar__language
  &__language {
    font-family: 'Open Sans', sans-serif;
    @media screen and (max-width: 991px) {
       font-size: 14px;
    }
  }
  // .top-bar__link
  &__link {
    color: $white;
    font-size: px-to-rem(16px);
    line-height: px-to-rem(24px);
    transition: width 0.3s ease-in-out;
    display: inline-block;
    position: relative;
      &:after {
      display: block;
      content: "";
      background-color: $white;
      height: 1.6px;
      width: 0%;
      left: 50%;
      bottom: -2px;
      position: absolute;
      transition: width .3s ease-in-out;
      transform: translateX(-50%);
    }
    &:hover:after, &:focus:after {
      width: 100%;
    }
    @media screen and (max-width: 991px){
      font-size: 14px;
    }
  }
  // .top-bar__ukrainian
  &__ukrainian {}
  // .top-bar__english
  &__english {
    margin-left: 10px;
  }
}
.social {
  // .social__link
  &__link {
    font-size: 18px;
    @media screen and (max-width: 991px){
      font-size: 16px;
    }
    // .social__link_instagram
    &_instagram {
      margin-right: 10px;
    }
    // .social__link_facebook
    &_facebook {  
}
  }
  // .social__instagram
  &__instagram {}
  // .social__facebook
  &__facebook {}
}
.icon {
  // .icon__instagram
  &__instagram {}
  // .icon__facebbok
  &__facebbok {}
}
.active:after {
  width: 100%;
}





